@import 'variables';

.homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 0px;

  .homepage-background-image-container {
    height: 100%;
    width: 100vw;
    margin-left: -$lg-container-margin-width;

    img {
      position: relative;
      top: 0px;
      width: 100%;
      min-height: 0px;
      z-index: 2;
    }
  }

  .homepage-background-image-text {
    z-index: 3;
    position: absolute;
    color: white;
    font-family: $primary-font-family;
    font-size: 40px;
    margin: 125px #{$lg-container-margin-width / 2} 0 $lg-container-margin-width;
    line-height: 44px;
  }
}

@media screen and (max-width: $md-screen-break) {
  .homepage-container {
    .homepage-background-image-container {
      margin-left: -$md-container-margin-width;

      img {
        width: $md-screen-break;
        margin-left: calc(50% - #{$md-container-margin-width});
        transform: translateX(calc(-50% + #{$md-container-margin-width}));
      }
    }

    .homepage-background-image-text {
      margin-left: $md-container-margin-width;
    }
  }
}

@media screen and (max-width: $sm-screen-break) {
  .homepage-container {
    .homepage-background-image-container {
      margin-left: -$sm-container-margin-width;

      img {
        margin-left: calc(50% - #{$sm-container-margin-width});
        transform: translateX(calc(-50% + #{$sm-container-margin-width}));
      }
    }

    .homepage-background-image-text {
      margin-left: $sm-container-margin-width;
    }
  }
}

  @media screen and (max-width: $xs-screen-break) {
  .homepage-container {
    .homepage-background-image-container {
      margin-left: -$xs-container-margin-width;

      img {
        margin-left: calc(50% - #{$xs-container-margin-width});
        transform: translateX(calc(-50% + #{$xs-container-margin-width}));
      }
    }

    .homepage-background-image-text {
      margin-left: $xs-container-margin-width;
    }
  }
}
