$header-height: 100px;

.app-container-header {
  width: 100%;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;

  .background {
    position: absolute;
    background-color: black;
    opacity: 0.3;
    height: $header-height;
    width: 100%;
    z-index: 1;
  }

  .header-left-margin {
    width: 200px;
  }

  .header-logo-buttons-separator {
    width: 100px;
  }

  .header-buttons-container {
    display: flex;
    flex-direction: row;
    height: $header-height;
    width: 400px;
    z-index: 2;

    .header-button {
      flex: 1;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      transition: border-bottom 0.15s ease-in, border-top 0.15s ease-in;
    }

    .header-button.hovered {
      border-top: 7px rgba(255, 255, 255, .8) solid;
      border-bottom: 7px rgba(255, 255, 255, .8) solid;
    }

    h4 {
      margin: 0px;
    }
  }

  .logo-container {
    z-index: 2;
  }

  .logo-container:hover {
    cursor: pointer;
  }

  .header-button:hover {
    cursor: pointer;
  }
}
