{
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "react-hot-loader/babel",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "constants": "./constants",
        "components": "./components",
        "actions": "./actions",
        "api": "./api",
        "store": "./src/reducers/store.js",
        "main": "./index.js"
      }
    }]
  ]
}
