$md-screen-break: 1444px;
$sm-screen-break: 991px;
$xs-screen-break: 767px;

$primary-font-family: 'Open Sans Condensed';

$header-height: 100px;

$lg-container-margin-width: 300px;
$md-container-margin-width: 200px;
$sm-container-margin-width: 100px;
$xs-container-margin-width: 50px;
